header {
  --logo-width: 150px;
  --logo-height: 40px;
  --mega-columns: 4;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  max-height: var(--header-height);
  background-color: light-dark(var(--color-light), var(--color-dark));

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1400px;
  }

  li,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .btn {
    margin-block: 6px;
  }

  .header-content {
    display: grid;
    grid-template-areas:
      "brand actions"
      "nav nav";
    grid-template-columns: 1fr auto;
    grid-template-rows: var(--header-height) auto;
  }

  .action-wrapper {
    position: relative;
    height: 100%;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0;
      background-color: transparent;
      height: 100%;
      width: 64px;

      .icon {
        width: 24px;
        height: 24px;
      }

      .text {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

  .breadcrumbs {
    display: none;
  }

  .menu,
  .mega-menu {
    padding-bottom: var(--grid-gutter-width);

    .default-content {
      margin: 0;

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-block: 12px;
    }

    ul:not(:has(+ *)) {
      li:last-child {
        margin-bottom: 0;
      }
    }

    .section {
      margin-block: 24px;
    }

    &.language {
      max-width: var(--grid-container-width);
      margin: 0 auto;

      .section {
        margin: 0;
      }
    }
  }

  .brand-section {
    grid-area: brand;
    max-width: 1400px;

    .default-content {
      height: var(--header-height);
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-l);

      ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: var(--spacing-l);
        margin: 0;
        padding: 0;
        list-style: none;
        width: auto;
      }

      li {
        white-space: nowrap;
        flex-shrink: 0;
      }

      p,
      a {
        display: flex;
        align-items: center;
        position: relative;
        font-size: var(--heading-font-size-m);
        font-weight: 700;
        text-decoration: none;
        margin: 0;
        color: var(--color-brand);

        img {
          height: var(--logo-height);
        }

        svg {
          width: var(--logo-width);
          height: var(--logo-height);
        }

        .brand-text {
          display: block;
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
    }

    .action-wrapper {
      right: -23px; /* 64 minus waffle icon inset */
    }
  }

  .actions-section {
    grid-area: actions;
    max-height: 64px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    > .default-content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 0;
      padding-inline-end: 0;
      width: 100%;
    }

    > .block-content {
      border-bottom: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));
    }

    .action-wrapper {
      height: var(--header-height);

      button {
        width: 44px;
      }

      &.language {
        margin-inline-start: auto;
      }
    }

    &.is-open {
      overflow: scroll;
      max-height: 100%;
    }
  }

  .main-nav-section {
    grid-area: nav;

    .default-content {
      max-width: 100%;
      margin: 0;
    }

    nav {
      display: flex;
    }

    .main-nav-list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: var(--spacing-l);
      width: auto;
      margin: 0;
      padding: 0;
    }

    .main-nav-item {
      display: inline-flex;
      flex-shrink: 0;
      border-bottom: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));

      > * {
        max-width: var(--grid-container-width);
        margin: 0 auto;
      }
    }

    .main-nav-link {
      display: block;
      line-height: 64px;
    }

    .menu,
    .mega-menu {
      display: none;
    }

    .is-open {
      .main-nav-link {
        border-bottom: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));
      }

      .menu,
      .mega-menu {
        display: block;
      }
    }
  }

  &.is-mobile-open {
    height: initial;
    max-height: initial;
    overflow: initial;
    bottom: 0;

    .header-content {
      height: 100%;
    }

    .brand-section {
      border-bottom: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));
    }
  }
}

@media (width >= 900px) {
  header {
    overflow: initial;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1400px;

    .header-content {
      max-width: 1400px;
      margin: 0 auto;
      flex-wrap: nowrap;
      gap: var(--spacing-l) var(--spacing-l);
      align-items: center;
    }

    .menu,
    .mega-menu {
      background-color: var(--color-shaded);
      padding: var(--spacing-xl) 0;
      position: absolute;
      left: 0;
      right: 0;

      &.language {
        display: none;
        max-width: initial;
        margin: 0;
        width: 180px;
        background-color: var(--color-shaded);
        padding: var(--spacing-xl);
        position: absolute;
        left: auto;
        right: 0;
        z-index: 1001;
      }
    }

    .mega-menu {
      > .fragment-content {
        display: grid;
        grid-template-columns: repeat(var(--mega-columns), 1fr);
        max-width: var(--grid-container-width);
        margin: 0 auto;

        .section {
          margin-block: initial;
        }
      }
    }

    .brand-section {
      border-bottom: initial;
      max-width: 1400px;
      flex-shrink: 0;

      .default-content {
        max-width: initial;
        margin: 0;
        height: var(--header-height);
      }

      .action-wrapper.more {
        display: none;
      }
    }

    .main-nav-section {
      justify-content: flex-start;
      padding-block: 0;
      flex: 1 1 auto;
      min-width: 0;

      nav {
        margin: 0;
      }

      .main-nav-list {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--spacing-l);
        min-width: 500px;
      }

      .main-nav-link {
        line-height: var(--header-height);
      }

      .main-nav-item {
        border-bottom: initial;
        white-space: nowrap;

        > * {
          max-width: initial;
          margin: initial;
        }

        &.is-open {
          .main-nav-link {
            border-bottom: initial;
          }
        }
      }
    }

    .actions-section {
      position: relative;
      overflow: initial;
      align-self: center;
      margin-left: auto;
      flex-shrink: 0;

      .default-content {
        max-width: initial;
        margin: 0;
        flex-wrap: nowrap;
        justify-content: flex-end;
        gap: 0;
        padding-inline-end: 0;
      }

      .action-wrapper {
        position: relative;

        &.language {
          margin-inline-start: auto;
        }
      }

      .block-content {
        border-bottom: initial;
      }

      &.is-open {
        overflow: initial;

        .menu.language {
          display: block;
        }
      }
    }

    &.is-mobile-open {
      bottom: initial;

      .header-content {
        height: initial;
      }
    }
  }
}
